body {
  background: linear-gradient(to left, #D16BA5, #86A8E7, #5FFBF1);
  margin: 2%;
  padding: 5%;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-shadow: 1px 1px 2px #00000033;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #FFFFFFEE;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  height: 500px;
}

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #86A8E7;
  border-radius: 10px;
}

input[type="text"] {
  width: calc(100% - 30px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: border 0.3s ease;
}

input[type="text"]:focus {
  outline: none;
  border-color: #0458f4;
}

button {
  font-size: 1rem;
  padding: 8px 15px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  color: white;
  background: linear-gradient(45deg, #D16BA5, #86A8E7);
  cursor: pointer;
  transition: box-shadow 0.3s, transform 0.2s, background-color 0.2s;
}

button:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

button:active {
  background-color: #4C4C6D !important; /* Darkens button on click */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) !important;
  color: #FFF !important;
  transform: scale(1) !important; /* Remove scaling on active to make it instant */
}




h3 {
  background-color: #86A8E7;
  padding: 10px;
  margin: 10px 0;
  color: white;
  border-radius: 8px;
  font-size: 1.2rem;
  display: inline-block;
  width: calc(100% - 30px);
}

h3:hover {
  background-color: #5FFBF1;
  color: #333;
}

.searchbox {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: border 0.3s ease;
}

.searchbox:focus {
  border-color: #86A8E7;
}

button:disabled {
  background: #D1D1D1;
  cursor: not-allowed;
}
